<!-- <ion-tabs class="hidden">
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/quotes">
    </ion-tab-button>

    <ion-tab-button routerLink="/chart">
    </ion-tab-button>

    <ion-tab-button routerLink="/trade">
    </ion-tab-button>

    <ion-tab-button routerLink="/history">
    </ion-tab-button>

    <ion-tab-button routerLink="/settings">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

<div class="bottom-0 z-10 absolute inset-x-0 grid grid-cols-5 mb-5 px-5 h-18">
  <div class="w-full h-full"></div>
  <div class="w-full h-full"></div>
  <div routerLink="/trade" class="w-full h-full"></div>
  <div routerLink="/history" class="w-full h-full"></div>
  <div routerLink="/settings" class="w-full h-full"></div>
</div>
