<div class="p-2 border-b border-black/5 text-sm">
  <div class="flex justify-between">
    <span>Deposit</span><span class="font-medium">0.00</span>
  </div>
  <div class="flex justify-between">
    <span>Profit</span><span class="font-medium">0.00</span>
  </div>
  <div class="flex justify-between">
    <span>Swap</span><span class="font-medium">0.00</span>
  </div>
  <div class="flex justify-between">
    <span>Commission</span><span class="font-medium">0.00</span>
  </div>
  <div class="flex justify-between">
    <span>Balance</span><span class="font-medium">0.00</span>
  </div>
</div>
