// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

:root {
  /* Set the background of the entire app */
  --ion-background-color: transparent;
}
