<ion-item class="relative">
  <ion-label>
    <div class="flex justify-between">
      <div class="gap-y-[0.1rem] grid grid-cols-1">
        <div>
          <span class="font-semibold tracking-tighter">
            {{ trade().instrument | replace : "_" : "" }}
          </span>
          <span
            class="font-medium"
            [ngClass]="side() ? 'text-blue-500' : 'text-red-500'"
          >
            {{ trade().initialUnits | side }} 2
          </span>
        </div>
        <div class="flex items-center gap-x-1 text-[#4e4d54] text-sm">
          <span>
            {{ trade().price | number : "1.2-2" | replace : "," : "" }}
          </span>
          <img src="../../assets/arrow.png" class="size-3 object-contain" />
          <span>
            {{
              trade().averageClosePrice | number : "1.2-2" | replace : "," : ""
            }}
          </span>
        </div>
      </div>
      <div class="flex flex-col items-end space-y-[0.1rem]">
        <span
          class="font-semibold"
          [ngClass]="isInProfit() ? 'text-blue-500' : 'text-red-500'"
        >
          {{
            trade().realizedPL
              | absolute
              | number : "1.2-2"
              | replace : "," : " "
          }}
        </span>
        <span class="text-[#4e4d54] text-sm">
          {{ trade().closeTime | date : "yyyy.MM.dd HH:mm:ss" }}
        </span>
      </div>
    </div>
  </ion-label>
</ion-item>
